{% extends "book_app/base.html" %}
{% load static %}
{% block title %} Password Change {% endblock title %}

{% block auth %}

    <div class="d-flex my-5 justify-content-center">
        <div class="card shadow-lg w-100" style="max-width: 480px;">
            <div class="card-body">
                <div class="text-center">
                    <h1 class="card-title h3">Change Password</h1>
                    
                </div>
                <div class="mt-4">
                    <form action="" method="post" novalidate>
                        {% csrf_token %}
                        <div class="mb-4">
                            <input type="password" class="form-control" id="password" placeholder="Old Password" name="old_password" required>
                            {% if form.old_password.errors %}
                                    {% for e in form.old_password.errors %}
                                        <span class="text-danger"> {{ e }}</span>
                                    {% endfor %}
                            {% endif %}
                        </div>
                        <div class="mb-4">
                            <input type="password" class="form-control" id="password" placeholder="New Password" name="new_password1" required>
                            {% if form.new_password1.errors %}
                                    {% for e in form.new_password1.errors %}
                                        <span class="text-danger"> {{ e }}</span>
                                    {% endfor %}
                            {% endif %}
                        </div>
                        <div class="mb-4">    
                            <input type="password" class="form-control" id="password" placeholder="Confirm Password" name="new_password2" required>
                            {% if form.new_password2.errors %}
                                    {% for e in form.new_password2.errors %}
                                        <span class="text-danger"> {{ e }}</span>
                                    {% endfor %}
                            {% endif %}
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-dark btn-lg">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
{% endblock auth %}

