{% extends "book_app/base.html" %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block css %}
{% comment %} <link rel="stylesheet" href="{% static "book_app/css/style.css" %}"> {% endcomment %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
{% endblock css %}

{% block content2 %}

<canvas id="canvas3d" class="w-100"></canvas>
{% include "book_app/footer.html" %}
{% endblock content2 %}
{% block js %}
<script type="module" src={% static "book_app/Js/spline.js" %}></script>{% endblock js %}